$movieContentBg: #ddd
$mobile-width: 480px
$tablet-width: 768px
$desktop-width: 1024px

=scaleUp
  opacity: 1
  transform: scale(1)

=scaleDown($delay: 0)
  transform: scale(0)
  opacity: 0
  transition: transform .24s ease-in $delay, opacity .3s linear

*,*::before,*::after
  margin: 0
  padding: 0
  box-sizing: border-box

a
  text-decoration: none

.movies__container
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  width: 95%
  padding-top: 30px
  justify-content: space-around
  color: #ddd

.movie
  margin: 5px
  padding: 20px 5px 10px
  display: flex
  flex-direction: column
  justify-content: space-between
  background-blend-mode: color
  max-width: 270px
  height: 400.1px
  box-shadow: 10px 10px 10px #111
  transition: background-color .25s linear
  text-align: center
  font-family: 'Roboto', sans-serif
  background-size: cover
  &:hover
    background-color: rgba(0,0,0,.8)
    .movie__title,
    .movie__description,
    .movie__play,
    .movie__button__datve
      +scaleUp

.movie__title
  +scaleDown
  text-transform: uppercase
  color: white
  font-size: 25px

.movie__duration
  +scaleDown(0.15s)

.movie__play
  margin: auto
  cursor: pointer
  +scaleDown(0.35s)

.movie__button__datve
  margin: auto
  width: 200px
  height: 30px
  border-radius: 5px
  background-color: #EBBA33
  display: flex
  justify-content: center
  align-items: center
  color: #000
  font-family: 'Oswald', sans-serif
  font-size: 1.1em
  font-weight: bold
  cursor: pointer
  bottom: 50px
  +scaleDown(0.40s)
