.slick-prev:before, .slick-next:before {

    color: gray !important;
    font-size: 3rem !important;
}

.width-item {
    width: 80%  !important;
}

.active_Film {
    @apply bg-gray-800 text-white;
}


.none_active_Film {
    @apply bg-white text-gray-800;
}